@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .zoomInUp {
        animation: zoomInUp;
        animation-duration: 2s;
    }

    .backInDown {
        animation: backInDown;
        animation-duration: 2s;
    }

}