@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .zoomInUp {
        animation: zoomInUp;
        animation-duration: 2s;
    }

    .backInDown {
        animation: backInDown;
        animation-duration: 0.5s;
    }

    .fadeInDown {
        animation: fadeInDown;
        animation-duration: 1s;
    }

    .backInLeft {
        animation: backInLeft;
        animation-duration: 1s;
    }

    .backInRight {
        animation: backInRight;
        animation-duration: 1s;
    }

}